.FinishedQuiz {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 20px;
	margin: 0 10px;
}

.FinishedQuiz ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.FinishedQuiz ul li i {
	margin-left: 10px;
}

.success {
    color: rgb(161 240 69 / 0.7);
}

.error {
    color: rgb(240 87 108 / 0.7);
}